<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>My Hello Application</title>
    <style type="text/css" media="screen">
      h1 {font-family: Arial, "MS Trebuchet", sans-serif;}
      h2 {color: red; font-style: italic;}
    </style>
  </head>
  <body>
    <h1>Welcome to the World of Tomorrow!!</h1>
    <h2>Why do always have to say it that way?</h2>
    <h1>Haven't you ever heard of a little thing called showmanship? </h1>
    <h1>Come, your destiny awaits!</h1>
  </body>
</html>
